{
  "score": 100,
  "errors": [],
  "missing": [],
  "summary": "Result: estimated score of 100.0% as average of 100.0% (modules) and 100% (notebook), prior to grader deductions.",
  "date": "02/22/2022",
  "latency": 10.031182527542114
}