{
  "score": 79,
  "errors": [],
  "missing": [],
  "summary": "Result: 15.859728885765707 of 20 points, for an estimated score of 79% (prior to grader deductions).",
  "date": "04/27/2022",
  "latency": 3.7105681896209717
}