{
  "score": 100,
  "errors": [],
  "missing": [],
  "summary": "Result: estimated score of 100.0% as weighted average of 100.0% (modules) and 100% (notebook), prior to grader deductions.",
  "date": "04/15/2022",
  "latency": 2.5062005519866943
}