{
  "score": 90,
  "errors": [
    [
      "Traceback (most recent call last):",
      "  File \"tester.py\", line 171, in main",
      "    test()",
      "  File \"tester.py\", line 125, in web_test",
      "    assert expected.shape == actual.shape",
      "AssertionError",
      ""
    ],
    [
      "Traceback (most recent call last):",
      "  File \"tester.py\", line 171, in main",
      "    test()",
      "  File \"tester.py\", line 144, in ind_test",
      "    assert len(f.read()) == 99951",
      "AssertionError",
      ""
    ]
  ],
  "dfs_points": 25,
  "bfs_points": 25,
  "web_points": 20,
  "ind_points": 20,
  "date": "03/13/2022",
  "latency": 4.979392766952515
}